html {
margin: 0px;
padding: 0px;
}

body {
font-family: "Noto Sans";
font-size: 13pt;

background-color: #EFEFEF;

overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans";
  font-size: 13pt;

  color: #37393B;

  margin-bottom: -15px;
}

h1 {
font-size: 20pt;

margin-bottom: 0px;
}

h2 {
font-size: 16pt;

margin-bottom: -12px;
}

h3 {
font-style: italic;

margin-bottom: -12px;
}

div {
padding: 20px 7% 20px 7%;
}


img {
width: 100%;
}
