html {
margin: 0px;
padding: 0px;
}

body {
font-family: "Noto Sans";
font-size: 13pt;

background-color: #EFEFEF;

overflow: auto;
}

div {
padding: 0px 30px 20px 30px;
}

div p {
margin: 20px 0px 0px 0px;
}

img {
width: 100%;
}
