html {
    margin: 0px;
    padding: 0px;
    color: #37393B;
}

body {
    font-size: 13pt;
    background-color: #EFEFEF;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: -10px;
}

h1 {
    font-size: 23pt;
    margin-bottom: 5px;
}

h2 {
    font-size: 15.5pt;
}

h3 {
    font-style: italic;
    font-size: 13.5pt;
}

h4 {
    color: #3e4145;
    font-size: 12pt;
}

div {
    padding: 20px 7% 20px 7%;
}

img {
    width: 100%;
}

pre {
    word-wrap: break-word;
}