html {
margin: 0px;
padding: 0px;
color: #37393B;
}

body {
font-size: 10pt;

background-color: #EFEFEF;

overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: -10px;
}

h1 {
font-size: 18pt;

margin-bottom: 5px;
}

h2 {
font-size: 14pt;
}

h3 {
font-size: 12pt;
}

h4 {
font-style: italic;
font-size: 11pt;
}

div {
padding: 20px 7% 20px 7%;
}

img {
width: 100%;
}
